Flask
Flask-Cors
kafka
mysqlclient
nltk
xlrd
pandas==0.25.3
numpy
sqlalchemy
certifi
Click
comtypes
itsdangerous
Jinja2
MarkupSafe
numpy
PyMySQL
python-dateutil
pytz
pywin32
six
Werkzeug
wincertstore
chardet
pdfminer.six
requests
openpyxl
fuzzywuzzy
regex
mpu
jdcal
et_xmlfile
zeep
pymongo
pdfplumber
wheel
opencv-python
pdf2image
pillow
sklearn
ABBYY
jsonify
pyzmq
scikit-learn
scipy
spacy
PyPDF2
Flask-Caching
imutils
opencv-contrib-python
opencv-contrib-python-headless
opencv-python-headless
Wand
py_zipkin==0.18.3
pyzbar
elasticsearch
xlsxwriter
Babel
bs4
influxdb
python-Levenshtein